* { 
    padding:0;
    margin:0;
    border:0; 
}

body{
    margin: auto;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

article header{
    background-color: red;
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
}

article p{
    background-color: blue;
    color: white;
    font-size: 20px;
    margin: 15px;
    padding: 15px;
}

section{
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto;
}

article{
    text-align: justify;
    color: beige;
    margin: 5px;
    background-color: #9c9c9c;
    flex: 1 1 200px;
}

article:nth-of-type(4)  {
    flex-grow: 10; 
}

article:nth-of-type(1)  {
    order: 3; 
}

article:nth-of-type(2)  {
    order: 2; 
}

article:nth-of-type(3)  {
    order: 5; 
}

article:nth-of-type(4)  {
    order: 1; 
}

article:nth-of-type(5)  {
    order: 4; 
}

*{box-sizing: border-box;}
body{background:beige url('img/hatter.jpg');color:beige }
nav, footer {background: cadetblue; padding:2px 5px;}
nav ul{padding:0;}
nav ul li {list-style-type: none; padding:0 15px;}
nav a {text-decoration: none;color:#ffcc66}
nav a:hover{color:coral;}
footer {text-align:center;}

@media all and (max-width:500px){
    section{
        flex-flow: column wrap;
    }
}